version: '3.8'

services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app  # <--- THIS IS THE MAGIC LINE. IT SYNC YOUR CODE.
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    env_file:
      - .env

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=student_db
      - POSTGRES_USER=student_admin
      - POSTGRES_PASSWORD=complex_password_123

  redis:
    image: redis:7-alpine

volumes:
  postgres_data: