{% load static %}
<nav class="navbar navbar-top navbar-expand navbar-dashboard navbar-dark ps-0 pe-2 pb-0">
  <div class="container-fluid px-0">
    <div class="d-flex justify-content-between w-100" id="navbarSupportedContent">
      <div class="d-flex align-items-center">
        <form class="navbar-search form-inline" id="navbar-search-main">
          <div class="input-group input-group-merge search-bar">
            <span class="input-group-text" id="topbar-addon">
              <svg class="icon icon-xs" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
            </span>
            <input type="text" class="form-control" id="topbarInputIconLeft" placeholder="Search" aria-label="Search" aria-describedby="topbar-addon">
          </div>
        </form>
      </div>
      <ul class="navbar-nav align-items-center">
        <li class="nav-item dropdown">
          <a class="nav-link text-dark notification-bell unread dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
            <svg class="icon icon-sm text-gray-900" fill="currentColor" viewBox="0 0 20 20"><path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"></path></svg>
            {% if unread_notification_count %}<span class="badge bg-danger rounded-pill">{{ unread_notification_count }}</span>{% endif %}
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-center mt-2 py-0">
            <div class="list-group list-group-flush">
              <a href="{% url 'notification_list' %}" class="text-center text-primary fw-bold border-bottom border-light py-3">Notifications</a>
              {% for n in recent_notifications %}
              <a href="{% url 'notification_mark_read' n.id %}?next={{ request.path }}" class="list-group-item list-group-item-action border-bottom {% if not n.read %}bg-light{% endif %}">
                <div class="d-flex justify-content-between align-items-center">
                  <span class="font-small">{{ n.title }}</span>
                  <small class="text-muted">{{ n.created_at|timesince }} ago</small>
                </div>
                <p class="font-small mt-1 mb-0 text-muted">{{ n.message|truncatewords:10 }}</p>
              </a>
              {% empty %}
              <span class="list-group-item text-muted small">No notifications</span>
              {% endfor %}
              {% if recent_notifications %}
              <a href="{% url 'notification_list' %}" class="dropdown-item text-center fw-bold rounded-bottom py-3">View all</a>
              {% endif %}
            </div>
          </div>
        </li>
        <li class="nav-item dropdown ms-lg-3">
          <a class="nav-link dropdown-toggle pt-1 px-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="media d-flex align-items-center">
              <img class="avatar rounded-circle" alt="" src="{% static 'assets/img/team/profile-picture-3.jpg' %}">
              <div class="media-body ms-2 text-dark align-items-center d-none d-lg-block">
                <span class="mb-0 font-small fw-bold text-gray-900">{{ request.user.get_full_name|default:request.user.username }}</span>
              </div>
            </div>
          </a>
          <div class="dropdown-menu dashboard-dropdown dropdown-menu-end mt-2 py-1">
            <a class="dropdown-item d-flex align-items-center" href="{% url 'user_profile' %}">
              <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd"></path></svg>
              Profile
            </a>
            {% if request.user.is_superuser %}
            <a class="dropdown-item d-flex align-items-center" href="{% url 'admin:password_change' %}">Change Password</a>
            <div class="dropdown-divider my-1"></div>
            <a class="dropdown-item d-flex align-items-center text-danger" href="{% url 'admin:logout' %}">Logout</a>
            {% else %}
            <div class="dropdown-divider my-1"></div>
            <a class="dropdown-item d-flex align-items-center text-danger" href="{% url 'logout' %}">Logout</a>
            {% endif %}
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
